<h1 class='hello'>This is a klarna checkout</h1>
<p>Visit
	<a href='https://eddies-klarna-checkout.herokuapp.com/checkout/1'>/checkout/1</a>
	to checkout with a product</p>
<p>Visit
	<a href='https://eddies-klarna-checkout.herokuapp.com/cart-checkout/1'>/cart-checkout/1</a>
	to checkout with a cart</p>